$color-gray-light:#F0F2F5;
$color-gray-dark:#D8DADF;
$color-white:#FFFFFF;
$color-blue:#1877F2;
$color-black:#333;

$color-deep:#8C8E92;
$color-text-deep:#65676b;
$color-dot:#81878C;



$color-gray:#666;
$color-light-blue:#166ADA;
$color-light-text-blue:#1F69D0;


$color-green:#31A14B;



//grid
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
$grid-width:114rem;

//font
$default-font-size:1.6rem;



