.background{
   background-image: url(/img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 20rem;
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    @media screen and (min-width:56.3em) {
        margin-top: 4rem;
        height: 50rem;
        
     }
    

    &__friday{
        text-transform: uppercase;
        display: inline-block;
        background-image: linear-gradient(to right, rgb(1, 7, 6), rgb(70, 64, 64));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 24px;
        font-weight: 600;
        margin-top: 9rem;
        cursor: pointer;
        @media screen and (min-width:56.3em) {
            
            font-size: 30px;
            line-height: 28px;
            font-weight: 800;
            margin-top: 28rem;
            
         }
        
    }
}