.description{
    display: flex;
    flex-wrap: wrap;
     text-align: center;
     justify-content: center;
     text-align: center;
     align-items: center;
     background-color: #F7F7F7;
     display: none;
    &__image20{
       
    }

    &__text20{
       
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
    }

    &__amount{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 22px;
        color: #000000;
        font-weight: 300;
    }

    &__interest{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 22px;
        color: #000000;
        font-weight: 300;
        margin-bottom: 2rem;
    }

    &__laybuy{
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 22px;
        color: #000000;
        font-weight: 300;
        margin-bottom: 2rem;
    }

    &__zip{
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 13px;
        color: #000000;
        font-weight: 300;
        margin-bottom: 4rem;
    }

    &__marle{
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 18px;
        color: #262626;
        font-weight: 300;
    }

    &__cait{
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 35px;
        color: #000000;
        font-weight: 400;
        margin-bottom: 2rem;
    }

    &__history{
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 26px;
        color: #000000;
        font-weight: 400;
    }

    &__color{
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 26px;
        color: #000000;
        font-weight: 300;
        margin-top: 10px;
    }

    &__color1 {
        border: none;
        display: inline-block;
        background-color:#e2e0e0;
        padding-left: 9rem;
        padding-right: 9rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        outline: none;
        border-bottom: 1px solid black;
        
       
    }

    input{
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border: none;
        outline: none;
        background-color:#e2e0e0;
        text-align: center;
        
       
    }

    &__size{
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 26px;
        color: #000000;
        font-weight: 300;
        margin-top: 5px;
    }

    &__size1{
        border: none;
        display: inline-block;
        background-color:#e2e0e0;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        outline: none;
        border-bottom: 1px solid black;
    }

    &__quantity{
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 26px;
        color: #000000;
        font-weight: 300;
        margin-top: 5px;
    }

    &__add{
        border: none;
        display: inline-block;
        background-color:#e2e0e0;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        outline: none;
        border-bottom: 1px solid black;
    }

    &__cart input{
        text-align: center;
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 26px;
       margin-bottom: 3rem;
       margin-top: 3rem;
        font-weight: 300;
        margin-top: 10px;
        background-color: #F7F7F7;
        border: 1px solid;
        cursor: pointer;

        &:hover{
            background-color: black;
            color: white;
        }
    }

   
}